<!-- 
 <h1 class="">Shanmugam</h1> -->
<!-- <h3> {{title}}</h3>

<h1>{{2==2}}</h1> -->

<!-- Angular can override html features ...if we give html tag name as selector name like div or span it can override html and work properly  -->

<!-- <app-login></app-login> -->
<!-- <shanmugam></shanmugam> -->
<!-- <profile></profile> -->

<!-- <button (click)="handleClick()" >Click me</button>
<button (click)="handleClicking()" >Click the button</button> -->


<!-- Counter App -->

<!-- <h1 style="text-align: center;">Counter App</h1>

<div style="text-align: center;">
    <h2 class="count">{{count}}</h2>
    <div class="">
        <button (click)="handleCount('min')" class="dec">Decrement</button>
        <button (click)="handleCount('')" class="res">Reset</button>
        <button (click)="handleCount('plus')" class="inc">Increment</button>
        
    </div>
</div> -->


<!-- Click , Input , mouse , Focus , Blue Events -->
<!-- <h1>Events in Angular</h1>

<button class="btn-primary" (click)="textChange($event)">Click me</button>


<br><br>

<div (mouseenter)="textChange($event)" style="background-color: green;height: 200px;width: 200px;"></div>

<div (mouseleave)="textChange($event)" style="background-color: red;height: 200px;width: 200px;"></div> -->


<!-- get & set input field value -->
<!-- <h1>Get & set input field value</h1>
<h2>Username is {{name}} </h2>
<input type="text" (input)="getName($event)" name="" id="" placeholder="Enter username">

<br><br>
<button>Get value</button> -->


<!-- Style option and Rules -->
 <!-- <h1> Style option and Rules</h1> -->

 <!-- Angular if else statement
<h1>If else | Control Flow statements</h1>

<button (click)="hide()">Hide Div</button>
<button (click)="show()">Show Div</button>
@if(display){
    <div style="background-color:green; height:200px; width:200px;" >

    </div>
} -->

<!-- 
@if(display){
    <div style="background-color:green; height:200px; width:200px;" >

    </div>
}
  -->
<!-- 
<hr>
<button (click)="toggle()"> {{toggleDiv?'show yellow div':'show red div '}} </button>
@if(toggleDiv){
    <div  style="background-color: red;width: 250px ;height: 250px;">

    </div>
}@else {
    <div  style="background-color: yellow;width: 550px ;height: 550px;">

    </div>
} -->


<!-- else if statements -->

<h1>If else | Control Flow statements</h1>
<button (click)="handleColor(1)">red</button>
<button  (click)="handleColor(2)">blue</button>
<button  (click)="handleColor(3)">green</button>
<button  (click)="handleColor(4)">yellow</button>
<input type="text" (input)="handleInput($event)" placeholder="color number">

@if(color==1){
    <div style="background-color: red;height: 100px;width: 100px;"></div>
}
@else if (color==2) {
    <div style="background-color: blue;height: 100px;width: 100px;"></div>
}
@else if (color==3) {<div style="background-color: greenyellow;height: 100px;width: 100px;"></div>}

@else{

    <div style="background-color: yellow;height: 100px;width: 100px;"></div>
}

